/ {
    chosen {
        zephyr,display = &oled;
    };

    aliases {
        tmp-sensor = &tmp102;
        apds-sensor = &apds9960;
    };
};

&i2c1 {
    status = "okay";

    tmp102: tmp102@49 {
        compatible = "ti,tmp102";
        reg = <0x49>;
        label = "TMP_SENSOR";
    };

    apds9960: apds9960@39 {
		status = "okay";
		compatible = "avago,apds9960";
		reg = <0x39>;
	};
};

&spi1 {
    status = "okay";

    oled: ssd1306@0 {
        compatible = "solomon,ssd1306fb";
        reg = <0x0>;
        spi-max-frequency = <8000000>;
        width = <128>;
        height = <64>;
        segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
        prechargep = <0x22>;
        segment-remap;
        com-invdir;
        inversion-on;
        data-cmd-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
        reset-gpios = <&gpiob 3 GPIO_ACTIVE_LOW>;
        // ready-time-ms = <100>;  /* SH1106G needs 100ms delay after init */
    };
};

&usart1{
    current-speed = <9600>;
};